// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'drop';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import "node_modules/font-awesome/scss/font-awesome.scss";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.btn {
    font-size: 16px;
}

.sidebar {
    position: fixed;
    padding: 16px;
    width: 140px;
    height: 100%;
    font-size: 0.85rem;
    background-color: #538d8f;
    color: #fafafa !important;
}

.with-sidebar {
    margin-left: 140px;
    width: calc(100% - 140px);
}

.side-menu a {
    color: #ffffff !important;
}

.side-menu a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.side-menu li {
    line-height: 2rem;
}

.table {
    color: #535353;
}

.btn {
    border: none;
}

.stage {color: #fafafa; text-align: center; padding: 4px; border-radius: 4px;}
.stage.first { background: #aaabbc;};
.stage.enquiry { background: #8b8982;};
.stage.proposal { background: #aab4b3;};
.stage.negotiation { background: #373f47;};
.stage.contract { background: #c3dbd9;};
.stage.manufacturing { background: #006a4e;};
.stage.completed { background: #6dacaa;};
.stage.lost { background: #ff82a9;};
.stage.canceled { background: #ffc0be;};

.popup-window.full {
    width: calc(100% - 40px);

}
