// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

@import 'drop';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import "node_modules/font-awesome/scss/font-awesome.scss";

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.btn {
    font-size: 16px;
}

.sidebar {
    position: fixed;
    padding: 16px;
    width: 140px;
    height: 100%;
    font-size: 0.85rem;
    background-color: #538d8f;
    color: #fafafa !important;
}

.with-sidebar {
    margin-left: 140px;
    width: calc(100% - 140px);
}

.side-menu a {
    color: #ffffff !important;
}

.side-menu a:hover {
    text-decoration: none;
    color: #ffffff !important;
}

.side-menu li {
    line-height: 2rem;
}

.table {
    color: #535353;
}

.btn {
    border: none;
}

.stage {color: #fafafa; text-align: center; padding: 4px; border-radius: 4px;}
.stage.first { background: #aaabbc;};
.stage.enquiry { background: #8b8982;};
.stage.proposal { background: #aab4b3;};
.stage.negotiation { background: #373f47;};
.stage.contract { background: #c3dbd9;};
.stage.manufacturing { background: #006a4e;};
.stage.completed { background: #6dacaa;};
.stage.lost { background: #ff82a9;};
.stage.canceled { background: #ffc0be;};

.popup-window.full {
    width: calc(100% - 40px);
    max-height: calc(100% - 60px);
    overflow: auto;
}

.item-sm {
    height: calc(1.5em + .5rem + 8px);
    padding: 0.1rem;
    font-size: 0.85rem;
    line-height: 1.2;
    border: none;
    border-radius: 0;
}

.item-sm div {
    padding-top: 10px;
}

.table-sm.table-condensed th, .table-sm.table-condensed td {
    padding: 0.1rem;
}

.table-sm.table-condensed .thead {
    font-size: 0.75rem;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

ul.i-list {
    list-style-type: none;
    margin: 0;
}

ul.i-list li {
    margin: 0;
    padding: 2px 8px;
    border-bottom: 1px solid #bcbcbc;
}

.i-title {
    width: 100%;
    color: #474747;
}

.i-line {
    width: 100%;
    height: 20px;
    color: #818181;
}

.i-price {
    font-size: 0.725rem;
    color: #9d9d9d;
}

.w-input {
    border: none;
    width: 60px;
}

.select2-selection__rendered {
    line-height: 32px !important;
}
.select2-container .select2-selection--single {
    height: 36px !important;
}
.select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da !important;
    border-radius: 4px;
}

.popup-sm .form-control {
    height: calc(1.6em + 0.5rem + 2px);
    padding: 0.375rem 0.25rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.popup-sm {
    transition: all 1s ease;
}

.popup-sm .drop-new {
    font-size: 0.7rem;
    padding: 2px 5px;
}

.client .drop-new {
    cursor: pointer;
}

.popup-sm.left {
    margin-left: 40px;
}

.popup-sm.brown .popup-head {
    background: #8f583d;
}

.col-form-label span {
    color: red;
}
